
.button-round {
	border-radius: 100px;
}

.separator {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 50px;
	padding-bottom: 20px;
}

.color-success {
	color: #28a745!important;;
}

.color-danger {
	color: #dc3545!important;
}